* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}


body {
  font-size: 1.1rem;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--Dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: 1.5rem;
  border-radius: .9rem;
}

.bg {
  border-top-left-radius: .9rem;
  border-top-right-radius: .9rem;
  height: 10.9375rem;
  background: url("/images/bg-pattern-card.svg");
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}